.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    margin: 0;
    padding: 0;
    font-weight: 500;
    background-color: hsl(180, 52%, 96%);
    font-family: 'League Spartan', sans-serif;
}

header { 
    height: 23vh;
    background-size: 100% cover;
    background-repeat: no-repeat;
    background-color: hsl(180, 29%, 50%);
    background-image: url('images/bg-header-desktop.svg');
}

.container {
    width: 70%;
    margin: 5% auto;
}

#selected-filters {
    display: none;
}

.selected-filters {
    height: 10vh;
    display: flex;
    margin-bottom: 3%;
    color: hsl(180, 29%, 50%);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 4px 6px 8px hsla(180, 8%, 52%, 0.3);
}

.filter-item {
    display: flex;
    font-size: 0.9em;
    font-weight: 700;
    margin: 20px 10px;
    align-items: center;
    justify-content: space-between;
}

.remove-icon {
    width: 12px;
    height: 12px;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: hsl(180, 29%, 50%);
}

.remove-icon:hover {
    background-color: hsl(180, 14%, 20%);
}

.item {
    padding: 30px;
    display: flex;
    margin-bottom: 3%;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 4px 6px 8px hsla(180, 8%, 52%, 0.3);
}

.item.photosnap, .item.manage {
    border-left: 4px solid hsl(180, 29%, 50%);
}

img, p {
    margin-right: 15px;
}

.new, .featured {
    padding: 10px 8px 8px;
    font-size: 0.7em;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    color: hsl(180, 52%, 96%);
}

.point {
    font-weight: 700;
    align-self: center;
    margin: 0px 10px 6px 0px;
    color: hsl(180, 8%, 52%);
}

.new {
    background-color: hsl(180, 29%, 50%); 
}

.featured {
    background-color: hsl(180, 14%, 20%);
}

.left-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.infos {
    display: flex;
    flex-direction: column;
}

.top-infos, .bottom-infos {
    display: flex;
    align-items: center;
}

.bottom-infos p {
    font-size: 0.9em;
    font-weight: 500;
}

.company {
    font-weight: 600;
    color: hsl(180, 29%, 50%);
}

h1 {
    font-size: 1.1em;
    color: hsl(180, 14%, 20%);
}

h1:hover {
    cursor: pointer;
    color: hsl(180, 29%, 50%);
}

.bottom-infos p {
    color: hsl(180, 8%, 52%);
}

button {
    border: none;
    padding: 5px;
    font-weight: 700;
    font-size: 0.9em;
    border-radius: 3px;
    margin-right: 10px;
    color: hsl(180, 29%, 50%);
    background-color: hsl(180, 52%, 96%);
}

button:hover {
    cursor: pointer;
    color: hsl(180, 52%, 96%);
    background-color: hsl(180, 29%, 50%);
}
.clear-button {
    padding: 0 30px;
    font-weight: 700;
    font-size: 0.9em;
    margin-left: auto;
    align-self: center;
    color: hsl(180, 8%, 52%);
}

.clear-button:hover {
    cursor: pointer;
    text-decoration: underline;
    color: hsl(180, 29%, 50%);  
}
@media screen and (max-width: 950px) {
    .container {
        width: 90%;
    }

    .item {
        position: relative;
        margin-bottom: 10%;
        align-items: flex-start;
        flex-direction: column;
    }

    .remove-icon {
        margin-left: 5px; 
    }

    .logo {
        top: -12%;
        left: 5%;
        height: 9vh;
        position: absolute;
    }

    .selected-filters {
        margin-bottom: 10%;
    }

    .right-items {
        align-items: flex-start;
        justify-content: flex-start;
        border-top: 2px solid hsl(180, 8%, 52%, 0.3);
    }

    .right-items button {
        margin-top: 5%;
    }
}
